    {% extends 'blog/index.html' %} 

    {% block about_us %}
        <div align="center">
            {% if about.published_date %}
                <div align="right">
                    {{ about.published_date }}
                </div>
            {% endif %}
            <h1>{{ about.title }}</h1>
            <h2><small><p><p align="left">{% autoescape off%}{{ about.text|linebreaksbr }}{% endautoescape %}</p></small></h2>
        </div>
    {% endblock %}

