    {% extends 'blog/index.html' %} 

    {% block contact %}
        <div align="center">
            {% if cont.published_date %}
                <div align="right">
                    {{ cont.published_date }}
                </div>
            {% endif %}
            <h1>{{ cont.title }}</h1>
            <h2><small><p><p align="left">{% autoescape off%}{{ cont.text|linebreaksbr }}{% endautoescape %}</p></small></h2>
        </div>
    {% endblock %}
