
 {% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
<title>СИБХИМРЕАКТИВ</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">





<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<style>


#header2{
  display: block;
  position: relative;
  text-align: right; /* Выравнивание по центру */
  background-color:  #008080;
  margin-bottom: 10px;
}




#footer{
    margin-top: 10%;
    height:80px;
    background-color:  #008080;
    margin-bottom: 10px;
}



hr {margin-top: 5%;
    border: none; /* Убираем границу */
    background-color: #D2B48C /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }

</style>


</head>
<body>

<div id="header2" align='center'>
info@reactiv.biz
</div>

<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">
      <a href="#" class="navbar-brand">SIBHYMREAKTIV</a>
    </div>

    <div>

     <ul class="nav navbar-nav">
       <li><a href="http://127.0.0.1:8000/">Главная</a></li>
       <li><a href="http://127.0.0.1:8000/about_us/">О нас</a></li>
       <li><a href="http://127.0.0.1:8000/news">Новости</a></li>
       <li><a href="http://127.0.0.1:8000/shop">Наши товары</a></li>
       <li><a href="http://127.0.0.1:8000/contacts">Контакты</a></li>
     </ul>

    </div>

  </div>

</nav>


</header>
<hr>
    <div id="carousel" class="carousel slide" data-ride="carousel">
 <!-- Индикатор слайдов -->
 <ol class="carousel-indicators">
  <li class="active" data-target="#carousel" data-slide-to="0"></li>
  <li data-target="#carousel" data-slide-to="1"></li>
  <li data-target="#carousel" data-slide-to="2"></li> 
 </ol>
 
  <!-- Слайды -->
 <div class="carousel-inner">
  
  
   <div class="item active">
           {% if documents %}

                {% for document in documents %}
                    <img src="{{ document.docfile.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}
   </div>
  
  
   <div class="item">
           {% if documents2 %}

                {% for document2 in documents2 %}
                    <img src="{{ document2.docfile2.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}

   </div>
   
   
   
   
   <div class="item">
           {% if documents3 %}

                {% for document3 in documents3 %}
                    <img src="{{ document3.docfile3.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}

   </div>
 </div>
 
 
 
 <!-- Стрелки переключения слайда -->
 <a href="#carousel" class="left carousel-control" data-slide="prev"></a>
  <span class="glyphicon glyphicon-chevron-left"></span>
 <a href="#carousel" class="right carousel-control" data-slide="next"></a>
   <span class="glyphicon glyphicon-chevron-right"></span>
</div>







        <div align="center">
            {% if glav.published_date %}
                <div align="right">
                    {{ glav.published_date }}
                </div>
            {% endif %}
            

             <h2 align="center">{{ glav.title }}</h2>
             <h2 align="center"><small><p>{% autoescape off%}{{ glav.text|linebreaksbr }}{% endautoescape %}</p></small></h2>
        </div>


<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div id="footer"><br><h5 align="center">660124 г.Красноярск, ул. Тамбовская, 35А, строение 1</h5></div>

</body>
</html>

