
    {% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
<title>СИБХИМРЕАКТИВ</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<style>


#header2{
  display: block;
  position: relative;
  text-align: right; /* Выравнивание по центру */
  background-color:  #008080;
  margin-bottom: 10px;
}




#footer{
    margin-top: 10%;
    height:80px;
    background-color:  #008080;
    margin-bottom: 10px;
}



hr {margin-top: 5%;
    border: none; /* Убираем границу */
    background-color: #D2B48C /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }

</style>


<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




</head>



<body>

<div id="header2" align='center'>
info@reactiv.biz 
</div>

<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">
      <a href="#" class="navbar-brand">SIBHYMREAKTIV</a>
    </div>

    <div>

     <ul class="nav navbar-nav">
       <li><a href="http://127.0.0.1:8000/">Главная</a></li>
       <li><a href="http://127.0.0.1:8000/about_us/">О нас</a></li>
       <li><a href="http://127.0.0.1:8000/news">Новости</a></li>
       <li><a href="http://127.0.0.1:8000/shop">Наши товары</a></li>
       <li><a href="http://127.0.0.1:8000/contacts">Контакты</a></li>
     </ul>

    </div>

  </div>

</nav>


</header>
<hr>
 {% block about_us %}{% endblock %}
 {% block contact %}{% endblock %}
 {% block news %}{% endblock %}


<div id="footer"><br><h5 align="center">660124 г.Красноярск, ул. Тамбовская, 35А, строение 1</h5></div>


<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
